@media screen and (max-width:768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
    .lema {
        margin-top: 1rem;
        margin-left: 10rem;
        font-size: 3rem;
    }

}


@media screen and (max-width:576px) {
    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        justify-content: center;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center ;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .lema {
        margin-top: 1rem;
        margin-left: 3rem;
        font-size: 2rem;
    }
} 
