

.preguntas{
    margin-left: 2rem;
    font-weight: 600;
.preguntas h2 {
    color: #272727;
    font-family: 'Prata', serif;
    line-height: 2;
    font-size: 2rem;    
}

.preguntas p{
    color: #272727;
    font-family:Arial, Helvetica, sans-serif;
}
}
